@using PlanningPoker.Shared.ViewModels
@foreach (var player in Server?.Players ?? Enumerable.Empty<PlayerViewModel>())
{
    var hasVoted = Server?.CurrentSession?.Votes?.ContainsKey(player.Id.ToString()) ?? false;
    var currentPlayerVote = hasVoted ? Server.CurrentSession.Votes[player.Id.ToString()] : string.Empty;
    
    <div class="row">
        <div class="col-md-2">
            @if (hasVoted)
            {
                <span class="oi oi-check"></span>
            }
        </div>
        <div class="col-md-8">@player.Name</div>
        <div class="col-md-2">@currentPlayerVote</div>
    </div>
}

@code {

    [Parameter]
    public PlayerViewModel CurrentPlayer { get; set; }

    [Parameter]
    public EventCallback<PlayerViewModel> CurrentPlayerChanged { get; set; }

    [Parameter]
    public PokerServerViewModel Server { get; set; }

    [Parameter]
    public EventCallback<PokerServerViewModel> ServerChanged { get; set; }

}