@using PlanningPoker.Shared.ViewModels
    <div class="row">
        @foreach (var player in Server?.Players ?? Enumerable.Empty<PlayerViewModel>())
        {
            <div class="row">
                <div class="col-md-8">@player.Name</div>
                @{
                    var hasVoted = Server?.CurrentSession?.Votes?.ContainsKey(player.Id.ToString()) ?? false;
                    var currentPlayerVote = hasVoted ? Server.CurrentSession.Votes[player.Id.ToString()].ToString() : string.Empty;
                }
                <div class="col-md-4">@currentPlayerVote</div>
            </div>
        }
    </div>

@code {

    [Parameter]
    public PlayerViewModel CurrentPlayer { get; set; }
    
    [Parameter]
    public EventCallback<PlayerViewModel> CurrentPlayerChanged { get; set; }

    [Parameter]
    public PokerServerViewModel Server { get; set; }

    [Parameter]
    public EventCallback<PokerServerViewModel> ServerChanged { get; set; }

}