@using PlanningPoker.Shared.ViewModels
<div>
    <p>Session</p>

    <ul>
        @foreach (var player in Server?.Players ?? Enumerable.Empty<PlayerViewModel>())
        {
            <li>
                <span>@player.Name</span>
            </li>
        }
    </ul>
</div>


@code {

    [Parameter]
    public PlayerViewModel CurrentPlayer { get; set; }
    
    [Parameter]
    public EventCallback<PlayerViewModel> CurrentPlayerChanged { get; set; }

    [Parameter]
    public PokerServerViewModel Server { get; set; }

    [Parameter]
    public EventCallback<PokerServerViewModel> ServerChanged { get; set; }

}