/* DARK MODE PALETTE */
:root {
    --dark-background-color: #222831;
    --dark-text-color: #76ABAE;
    --dark-background-color-alternative: #31363F;
    --dark-background-color-second-alternative: #EEEEEE
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background-color);
        color: var(--dark-text-color);
    }

    .card {
        background-color: var(--dark-background-color);
    }

    .form-control {
        background-color: var(--dark-background-color) !important;
        color: var(--dark-text-color);

        &:focus {
            color: var(--dark-text-color);
        }
    }

    .custom-select {
        background: var(--dark-background-color) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
        background-size: 8px 10px;
        color: var(--dark-text-color);
    }

    .btn {
        &.poker_card {
            background-color: var(--dark-background-color);
            color: var(--dark-text-color);
            border: 1px solid var(--dark-text-color);

            &.btn-success {
                background-color: #1E7E34;
                color: white;
            }
        }

        &.clear {
            background-color: var(--dark-background-color-second-alternative);
            color: black;

            &:disabled {
                color: var(--dark-text-color);
            }
        }
    }

    .table-success > td {
        background-color: var(--dark-background-color-alternative);
    }

    .notifications > .notification {
        background: var(--dark-background-color);
        border: 1px solid var(--dark-text-color);
    }
}

/* LOADING */

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 25%;
    height: 25%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading .spinning-logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loading .loading-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #007BFF;
    font-weight: bold;
}

/* END LOADING*/

.navbar {
    margin-bottom: 10px;
}

img.navbar-icon {
    height: 34px;
    width: 34px;
    margin-right: 8px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:visited {
    color: #007BFF;
    font-weight: bold;
}

.card {
    margin: 12px 0;
}

.row.juxtaposed {
    margin: 0;
}

.row.juxtaposed .left .card {
    margin-right: 6px;
}

.row.juxtaposed .right .card {
    margin-left: 6px;
}

.row.juxtaposed .col {
    padding: 0;
}

/* SCROLLABLE TABLE */

.scroll-table {
    width: 100%
}

.scroll-table > thead,
.scroll-table > tbody,
.scroll-table > thead > tr,
.scroll-table > tbody > tr,
.scroll-table > thead > tr > th,
.scroll-table > tbody > tr > td {
    display: block;
}

.scroll-table> tbody > tr:after,
.scroll-table > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scroll-table > tbody {
    overflow-y: auto;
    height: 150px;
}

.scroll-table > tbody > tr > td,
.scroll-table > thead > tr > th {
    width: 33.33%;
    float: left;
}

/* END SCROLLABLE TABLE */

/* SESSION CONTROL */

.card-wrapper {
    margin: 10px 0;
}

/* END SESSION CONTROL */

/* SESSION RENDERING */
.kick-btn {
    background: none;
    color: darkred;
}

.changetype-btn {
    background: none;
    color: #F7C600;
}

.changetype-btn[disabled] {
    background: none;
    color: #bdb4b4;
}

.table .asleep {
    opacity: 0.3;
}

/* END SESSION RENDERING */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

/* NOTIFICATIONS */

.notifications {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.notification {
    background: #FFF;
    padding: 8px;
    border: 1px solid #dcdcdc;
    font-size: 0.7em;

    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -ms-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    opacity: 1;
}

.notification .notification-icon {
    margin-right: 6px;
}

/* END NOTIFICATIONS */
