.navbar {
    margin-bottom: 10px;
}

.card {
    margin: 12px 0;
}

.row.juxtaposed {
    margin: 0;
}

.row.juxtaposed .left .card {
    margin-right: 6px;
}

.row.juxtaposed .right .card {
    margin-left: 6px;
}

.row.juxtaposed .col {
    padding: 0;
}

/* SCROLLABLE TABLE */

.scroll-table {
    width: 100%
}

.scroll-table > thead,
.scroll-table > tbody,
.scroll-table > thead > tr,
.scroll-table > tbody > tr,
.scroll-table > thead > tr > th,
.scroll-table > tbody > tr > td {
    display: block;
}

.scroll-table> tbody > tr:after,
.scroll-table > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scroll-table > tbody {
    overflow-y: auto;
    height: 150px;
}

.scroll-table > tbody > tr > td,
.scroll-table > thead > tr > th {
    width: 33.33%;
    float: left;
}

/* END SCROLLABLE TABLE */

/* SESSION RENDERING */
.kick-btn {
    background: none;
    color: darkred;
}

.changetype-btn {
    background: none;
    color: #F7C600;
}

.changetype-btn[disabled] {
    background: none;
    color: #bdb4b4;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}