<footer class="page-footer">
    <div class="footer-copyright text-center py-3">
        <small>This is an open source project by Andreas R. L. Christiansen, under MIT license.</small>
        <small><a href="https://github.com/PolygeneLubricants/planning-poker">Source at Github</a></small>
    </div>
</footer>