<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2>404 - Nothing at this URL</h2>
                            <p>
                                The URL you have entered is not routed in JustPlanningPoker. 
                                If you believe this is a mistake, feel free to raise an issue in the Github project, linked in the footer of this page.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>